*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}
main {
	position: relative;
	top: 7rem;
	padding-top: 2rem;
	padding-bottom: 5rem;
}
.container > form {
	background-color: #eff4fd;
	padding: 2rem !important;
}
