main {
	padding-top: 7rem;
	padding-bottom: 4rem;
}
.container > form {
	background-color: #eff4fd;
	padding: 2rem !important;
}
a.btn.btn-warning.btn-sm > i.fa.fa-pen,
a.btn > i {
	/* color: white; */
}

