<!-- <h1 style="text-align: center;">شهادة مشاركة&nbsp;</h1>
<h2 style="text-align: center;">
    <font color="#5e6576"><span style="font-size: 16px; letter-spacing: normal;">تشهد <strong>{اسم المنظمة}</strong>
            بأنّ</span></font>
</h2>
<h2 style="text-align: center;"><em>{اسم المشارك}</em></h2>
<p style="text-align: center;">&nbsp;قد شارك في دورة<strong> {عنوان الدورة }</strong> المقامة في <strong>{الموقع
        }</strong></p>
<p style="text-align: center;">بتاريخ <strong>{تاريخ البداية والنهاية}&nbsp;</strong></p>
<p style="text-align: left;"><strong>{التوقيع}</strong><br></p>
<p style="text-align: center;"><br></p> -->

<h3 style="text-align: center;">شهادة مشاركة</h3>
<h3 style="text-align: center; ">تشهد <span contenteditable="false">{اسم_المنظمة}</span> بأنّ&nbsp;</h3>
<h2 style="text-align: center; "><span contenteditable="false">{اسم_المشارك}</span></h2>
<h3 style="text-align: center; ">&nbsp;قد شارك في دورة&nbsp;</h3>
<h3 style="text-align: center; "><span contenteditable="false">{اسم_الدورة}</span>&nbsp;</h3>
<h3 style="text-align: center; ">المقامة في
    <span contenteditable="false">{الموقع}</span> بتاريخ
    <span contenteditable="false">{تاريخ_البدايةوالنهاية}</span>&nbsp;
</h3>
<p><br></p>
<h2 style="text-align: left;" contenteditable="false">&nbsp; {التوقيع}</h2>
<h2 style="text-align: center;" contenteditable="false">{QR}</h2>
